* {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 40%;
  height: 55%;
  display: flex;
  align-items: center;
  background-color: #c9bdff;
}

.resultContainer {
  width: 50%;
  height: 100%;
  background-color: #5d3efb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.resultContainer h3 {
  color: #c9bdff;
  font-size: 1.3vw;
  padding: 2vw 0;
}

.resultContainer h2 {
  color: #fff;
  font-size: 1.9vw;
  padding: 1.5vw 0;
}

.resultContainer p {
  color: #c9bdff;
  text-align: center;
  width: 60%;
}

.result {
  height: 11vw;
  width: 11vw;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, #4a23cc, #4936f2);
}

.result h1 {
  font-size: 3.5vw;
  font-weight: 800;
  color: #fff;
}
.result p {
  color: #c9bdff;
  font-size: 1vw;
}
.summaryContainer {
  width: 50%;
  height: 100%;
  background-color: coral;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summaryContainer h3 {
  color: #525869;
  text-align: left;
}
.stats {
  width: 80%;
  height: 50%;
  padding: 0 1vw;
}
.stats > div {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.reactionStat,
.memoryStat,
.verbalStat,
.visualStat {
  border-radius: 1vw;
  display: flex;
  align-items: center;
  margin-bottom: 0.1vw;
  padding: 0 1vw;
}

.reactionStat div,
.memoryStat div {
  font-weight: 700;
  color: hsl(240, 77%, 20%);
}

.reactionStat {
  background-color: #fff6f5;
}
.reactionStat div:first-child {
  color: #be6067;
}
.memoryStat div:first-child {
  color: #debb78;
}
.memoryStat {
  background-color: #fffbf2;
}
.memoryStat div:first-child,
.reactionStat div:first-child {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.3vw;
}
